.dashboard-container {
    display: grid;
    background-color: white;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.card-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 10px 10px 0 0;
}

.card-container h2 {

    font-size: 1.5rem;
    color: white;
}

.card-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
