.column-color-dropdown {
    width: 100%;
}

.column-color-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.column-color-input-container input {
    flex-grow: 1;
    border: none !important;
    background: none !important;
}

.column-color-preview {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.column-color-options {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.column-color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.column-color-option:hover {
    transform: scale(1.1);
}


/*------------- Error Highlighting -------------*/
.column-color-input-container.input-error {
    border: 2px solid red;
    background-color: #fff0f0;
}
