.message-type-header {
    font-size: 1.5rem;
    color: var(--primary-color);
    background-color: #D3D3D3;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-bottom: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    user-select: none;
}

.message-type-header:hover:not(.selected) {
    background-color: #C0C0C0;
}

.message-type-header.selected {
    color: white;
    background-color: var(--primary-color);
}
