.banner-container {
    width: 200%;
    background-color: #fef3c7;
    border-left: 4px solid #f59e0b;
    padding: 1rem;
    margin-bottom: 1rem;
    position: absolute;
    top: -150%;
    left: -50%;
}

.banner-content {
    display: flex;
}

.icon-container {
    flex-shrink: 0;
    padding-top: 0.25rem;
}

.icon {
    height: 1.25rem;
    width: 1.25rem;
    color: #f59e0b;
}

.text-container {
    margin-left: 0.75rem;
}

.warning-text {
    font-size: 0.875rem;
    color: #b45309;
}

.warning-text-bold {
    font-weight: 500;
}

.margin-top {
    margin-top: 0.5rem;
}
