/*--------------- Kanban Options Tabs---------------*/
.new-project-kanban-options {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-width: 400px;
    border-right: 1px solid #e0e0e0;
}

.new-project-kanban-options-tabs {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--tertiary-color);
    border-radius: 10px 0 0 0;
    width: 100%;
    cursor: pointer;
}

.new-project-kanban-options-tabs .not-active:hover {
    background-color: var(--primary-alternate);
    transition: all 0.3s ease-in-out;
}
.new-project-kanban-options-tabs .column-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary-color);
    width: 100%;
}

.new-project-kanban-add-column {
    border-radius: 9px 0 0 0;
}

.new-project-kanban-adjust-column,
.new-project-kanban-add-column {
    border-right: 1px solid var(--primary-color);
}


.active-tab {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
