.new-project-kanban {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5em;
}

.new-project-kanban-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.new-project-kanban-title h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-color);
    padding: 0.2em;
}

.new-project-kanban-board-container {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    gap: 1.5rem;
}

.confirm-kanban-setup {
    all: unset;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 0 9px 9px 0;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-kanban-setup-button {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.confirm-kanban-setup-button:hover {
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-alternate);
}

.confirm-kanban-setup-button:active {
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
