.risk-item {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    border: 1px solid var(--tertiary-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.risk-task-info-container,
.risk-indicator-container  {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.risk-task-info-container {
    align-items: flex-start;
    gap: 0.2rem;
}

.risk-task-info-container h3 {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.risk-task-info-container p {
    color: #666;
    font-size: 0.8rem;
}

.risk-indicator-container {
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.risk-indicator-label {
    padding: 0.2rem;
    border-radius: 4px;
}
