.header-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-right: 15px;
    height: 60px;
    z-index: 15;
}

.header-logo {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 700;
    background-color: var(--secondary-color);
    border-radius: 10px 10px 0 0;
    padding: 1rem 1rem 1.8rem;
}

.header-logo img{
    width: 35px;
    height:35px;
}

.header-logo-link {
    text-decoration: none;
}
