.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-height: 80px;
    background-color: var(--secondary-color);
    margin-left: 208px;
    margin-top: 1rem;
    width: calc(100vw - 225px);
    border-radius: 0 10px 0 0;
    transition: margin-left 0.5s ease-in-out, width 0.5s ease-in-out;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 0;
    height: 80px;
    width: 80px;
}

.logo-container img { 
    height: 65px;
    width: 65px;
}

.header-container.slide {
    margin-left: 79px;
    width: calc(100vw - 96px);
    transition: margin-left 1s ease-in-out, width 1s ease-in-out;
}


.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 5rem;
    font-weight: 700;
    padding-top: 3px;
}