.project-selection-container {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    width: 100%;
    gap: 2rem;
}

.project-selection-title {
    color: var(--primary-color);
    font-weight: 700;
    background-color: var(--tertiary-color);
    border-radius: 100px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

.project-slider-container {
    position: relative;
    height: 2rem;
    background-color: var(--tertiary-color);
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    padding: 0 1rem;
    width: 80%;
}

.no-projects-selection-container {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 2rem;
}

.no-projects-slider-container {
    position: relative;
    height: 2rem;
    background-color: var(--tertiary-color);
    border-radius: 100px;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-content: center;
    overflow: hidden;
    padding: 0 3rem 0 1rem;
}

.no-projects-message {
display: flex;
align-items: center;
justify-content: center;
}

.no-projects-selection-container .no-projects-slider-container .create-new-project-button {
    position: absolute;
    top: 4px;
    right: 10px;
}

.project-slider-container .right-arrow,
.project-slider-container .left-arrow {
    position: absolute;
    height: 100%;
    width: 50px;
    top: 0;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.project-slider-container .left-arrow.active,
.project-slider-container .right-arrow.active{
    visibility: visible;
}
.project-slider-container .left-arrow {
    background: linear-gradient(to right, var(--tertiary-color) 50%, transparent);
    left: 0;
}

.project-slider-container .right-arrow {
    right: 0;
    justify-content: flex-end;
    background: linear-gradient(to left, var(--tertiary-color) 50%, transparent);
}

.project-slider-container .arrow-icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease;
    padding: 4px;
    color: var(--primary-color);
    margin: 0 0.25rem;
}

.project-slider-container .arrow-icon:hover,
.project-slider-container .arrow-icon:hover {
    background-color: var(--primary-color);
    color: white;
}

.project-list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    max-width: 1200px;
    list-style: none;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.project-list::-webkit-scrollbar {
    display: none;
}

.project-selector {
    color: white;
    background: #222;
    padding: 4px 24px;
    display: inline-block;
    border-radius: 5px;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 1s ease;
    border: 1px solid transparent;
}

.project-selector:hover {
    border: 1px solid yellow;
}

.project-selector.active {
    color: var(--primary-color);
    font-weight: 700;
    background: yellow;
}

.project-selection-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background-color: var(--tertiary-color);
    border-radius: 100px;
    width: 10%;
    gap: 1rem;
}

.create-new-project-button,
.edit-current-project-button,
.delete-current-project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 1.5rem;
    height: 1.5rem;
    border-color: transparent;
}

.create-new-project-button:hover,
.edit-current-project-button:hover,
.delete-current-project-button:hover {
    scale: 1.2;
    transition: 0.3s ease;
    border: 1px solid var(--primary-color);
}

.create-new-project-button {
    background-color: #4CAF50;
}

.edit-current-project-button {
    background-color: #2196F3;
}

.delete-current-project-button {
    background-color: #dc3545;
}
