/*---------- New Project Dates ----------*/

.new-project-details {
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;
}

.new-project-details-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.new-project-details-title h3 {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-color);
    padding: 0.2em;
}

.new-project-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    height: 100%;
}

.new-project-dates-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.5em;
}

.new-project-start-date,
.new-project-target-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    gap: 0.6em;
}

.new-project-start-date-label,
.new-project-target-date-label {
    font-size: 1rem;
    font-weight: 400;
    color: var(--secondary-color);
    background-color: #666;
    padding: 0.2em;
    width: 10em;
    border-radius: 5px;
    text-align: center;
}

.new-project-choice-selectors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 0.5em;
}

.modal-content.new-team-member-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20em;
    gap: 2em;
}

.modal-content.new-team-member-modal select {
    background-color: white;
}

.modal-content.new-team-member-modal option {
    height: 1rem;
}

.existing-team-members {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}
