.timeline-risk-container {
display : flex;
flex-direction: column;
align-items: center;
height: 100%;
gap: 1rem;
}

.project-timeline {
    padding: 10px 10px 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    width: 75%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}

.project-title {
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    text-align: center;
    color: var(--primary-color);
}

.date-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #666;
    transition: all 0.3s ease-in-out;
    padding: 0 20px;
}

.progress-container {
    position: relative;
    height: 20px;
    margin: 10px 0;
    padding-bottom: 20px;
    overflow: hidden;
}

.progress-bar-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
}

.progress-bar-tasks {
    position: absolute;
    top: 1px;
    left: 1px;
    height: 90%;
    background-color: #4a90e2;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.progress-bar-timeline {
    position: absolute;
    top: 7px;
    left: 0;
    height: 6px;
    background-color: #ff4136;
    border-radius: 2px;
    transition: width 0.5s ease-in-out;
}

.progress-label-container {
    display: flex;
    justify-content: space-evenly;
}

.task-label, .timeline-label {
    font-size: 12px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    bottom: 10%;
    cursor: pointer;
}

.task-label {
    left: 20%;
    color: #4a90e2;
    position: absolute;
}

.timeline-label {
    right: 20%;
    color: #ff4136;
    position: absolute;
}

.task-label:hover {
    color: var(--primary-color);
}

.task-label:hover ~ .progress-container > .progress-bar-timeline {
    display: none;
    transition: all 0.3s ease-in-out;
}

.task-label:hover ~ .progress-container > .progress-bar-tasks {
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

/* Enter/exit animations for transition group */
.project-timeline-enter {
    opacity: 0;
    transform: translateY(20px);
}

.project-timeline-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

.project-timeline-exit {
    opacity: 1;
}

.project-timeline-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
}

/* ------------ Risk Container ------------- */

.risk-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

.risk-container h2 {
    font-weight: 600;
}

.risk-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.risk-list h2 {
    padding-bottom : 1rem;
}