.dashboard-project-selector {
    height: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--tertiary-color);
    width: 100%;
    border-bottom: 1px solid var(--primary-color);

}

.dashboard-project-selector-no-projects {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.no-projects-message {
    color: var(--primary-color);
}

.create-new-project-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
    overflow: hidden;
    height: 1.7rem;
    width: 3rem;
    background-color: green;
}

.project-list-container {
    display: flex;
    gap: 0.5rem;
}

.project-item {
    width: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.project-item:hover {
}
