.team-member-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.team-member-info-selector-container {
    display: flex;
}

.team-member-info h4 {
    font-size: 1rem;
    font-weight: 700;
}

.team-member-info p, span {
    font-size: 0.8rem;
    font-weight: 400;
}

.selector-team-member-info {
    font-size: 0.8rem;
}

.team-member-info button {
    all: unset;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.team-member-info button:hover {
    color: var(--primary-alternate);
}

.delete-team-member-stage-one {
    position: relative;
}

.delete-team-member-stage-two {
    position: absolute;
    bottom: 0;
    right: -2em;
    height: 100%;
    width: 1.75em;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    background-color: red;
    cursor: pointer;
}

.delete-team-member-stage-two:hover {
    border-color: 1px solid var(--primary-alternate);
    color: var(--primary-alternate);
}
