.new-project-container {
    margin: 1.5em;
    padding: 1.5em;
    height: calc(100% - 3rem);
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

/*---------- New Project Kanban ----------*/

.new-project-kanban {
    width: 100%;
}
