.layout {
    display: grid;
    grid-template-columns: 12.5% auto;
    overflow: hidden;
    max-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 87vw;
}

.content {
height: 88vh;
}
