.layout {
    display: grid;
    grid-template-rows: 130px auto;
    grid-template-columns: 225px auto;
    grid-template-areas:
    "navbar header"
    "navbar main";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.navbar {
    grid-area: navbar;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}
