.quick-board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0.5rem 1rem 0;
}

.quick-board-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5rem;
    color: var(--primary-color);
}

.quick-board-header h3 {
    font-size: 0.8rem;
}

.quick-board {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.7rem;
    width: 90%;
    /* overflow-x: hidden; */

}

.quick-board-message-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    max-width: 25%;
    height: 80%;
    padding: 0.25rem 0.5rem;
    /* overflow: hidden; */
    background-color: #e0e0e0;
    border-radius: 8px;
    cursor: pointer;
}

.quick-board-message-container:hover {
    background-color: #888;
}

.quick-board-message-container:hover .message-header {
    border-bottom: 1px solid var(--secondary-color);
}

.quick-board-message-container:hover .message-author {
    color: var(--primary-alternate);
    border: 1px solid var(--primary-alternate);
}

.quick-board-message-container:hover .message-summary {
    color: var(--secondary-color);
}

.quick-board-message-container:hover .message-content {
    color: var(--tertiary-color);
}

.quick-board-message-container:hover .message-timestamp {
    color: var(--tertiary-color);
}

.thumbs-up-icon:hover {
    color: var(--primary-alternate);
    transition: all 0.5s ease-in-out;
}

.message-board-container {
    border: 1px solid red;
}

.message-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;    
    font-size: 0.7rem;
    font-weight: 700;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 0.2rem;
    transition: all 0.5s ease-in-out;
}

.message-body {
    height: 76%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.message-summary {
    color: var(--primary-color);

}

.message-author {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0.8rem;
    position: absolute;
    top: -7px;
    left: -7px;
    z-index: 5;
    transition: all 0.5s ease-in-out;
    color: var(--secondary-color);
    font-weight: 700;
}

.message-content {
    font-size: 0.6rem;
    font-weight: 600;
    color: #666;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
    padding:0 0.7rem 0.5rem;
}

.message-timestamp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 400;
    color: #666;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

